{{ $img := .Page.Resources.GetMatch (printf "*%s*" (.Get "img")) }}
{{ $command := .Get "command" }}
{{ $options := .Get "options" }}
{{ $alt := .Get "alt" }}
{{ if eq $command "Fit"}}
  {{ $img = $img.Fit $options }}
{{ else if eq $command "Resize"}}
  {{ $img = $img.Resize $options }}
{{ else if eq $command "Fill"}}
  {{ $img = $img.Fill $options }}
{{ else if eq $command "Crop"}}
  {{ $img = $img.Crop $options }}
{{ else }}
  {{ errorf "Invalid image processing command: Must be one of Crop, Fit, Fill or Resize."}}
{{ end }}

<figure style="padding: 0.25rem; margin: 2rem 0; background-color: transparent;">
  <img style="max-width: 100%; width: auto; height: auto;" alt="{{ $alt }}" src="{{ $img.RelPermalink }}" width="{{ $img.Width }}" height="{{ $img.Height }}">
  <figcaption style="text-align: center;">
  <small>
    {{ with .Inner }}
      {{ . }}
    {{ end }}
  </small>
  </figcaption>
</figure>